config MFD_MAX77860
	tristate "Maxim Integrated MAX77860 PMIC Support"
	depends on I2C=y
	select MFD_CORE
	select REGMAP_I2C
	select REGMAP_IRQ
	help
	  Say yes here to add support for Maxim Integrated MAX77860. 
	  This is a 3A Switch Mode Charger with Integrated CC Detection.
	  This driver provides common support for accessing the device,
	  additional drivers must be enabled in order to use the functionality
	  of the device.
