config SENSORS_MAX34417
	tristate "Maxim MAX34417 sensor chip"
	depends on I2C
	help
	  If you say yes here you get support for MAX34417
      current and voltage monitor.

	  This driver can also be built as a module. If so, the module
	  will be called max34417.